<html>
<head>
<style>

table {
}

table.action th {
  color: white;
  font-weight: bold;
  background-color: #009999;
}

table.action td {
  background-color: #FFFF99;
}

table.message th {
  color: white;
  font-weight: bold;
  background-color: blue;
}

.row1 td.content {
  background-color: #00FFFF;
}

.row2 td.content {
  background-color: #FF99FF;
}

.row3 td.content {
  background-color: #CCCCCC;
}

</style>
</head>

<h1>{{ mynickname }} - Chat History</h1>


<div>
{% repeater %}
  {% for chat_item in chat_items %}
    {% if chat_item.is_message %}
{# The cycle tag makes the background colour of the content field change each iteration #}
<table class="message {% cycle "row1" "row2" "row3" %}" width="100%" cellpadding="5" >
<tr><th>{{ chat_item.sender }}</th></tr>
<tr><td class="content" > {{ chat_item.content }} </td></tr>
    {% else %}{% if chat_item.is_action %}
<table class="action" width="100%" cellpadding="5" >
<tr><th>{{ chat_item.sender }}</th></tr>
<tr><td class="content" > ***&nbsp;{{ chat_item.content }} </td></tr>
    {% endif %}{% endif %}
</table>
<br />
  {% endfor %}
{% endrepeater %}
</div>


</html>